<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/client_layout}">
<head><title>Thông Tin Cá Nhân</title></head>
<body>
<section layout:fragment="content" class="container my-5">
  <div class="row">
    <!-- Menu bên trái -->
    <div class="col-md-3">
      <div th:replace="~{fragments/account_sidebar :: sidebar('profile')}"></div>
    </div>
    <!-- Nội dung chính -->
    <div class="col-md-9">
      <div class="card"><div class="card-header"><h3>Thông Tin Cá Nhân</h3></div>
        <div class="card-body">
          <p><strong>Tên đăng nhập:</strong> <span th:text="${user.username}"></span></p>
          <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
          <!-- Thêm các thông tin khác nếu User entity của bạn có -->
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>