<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">
<head>
  <title th:text="${pageTitle}">Category Form</title>
</head>
<body>
<main layout:fragment="content" class="container my-4">
    <h1 th:text="${pageTitle}">Category Form</h1>

    <form th:action="@{/admin/categories/save}" th:object="${category}" method="post">
      <input type="hidden" th:field="*{id}" />

      <div class="mb-3">
        <label for="name" class="form-label">Category Name</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" required>
        <div class="text-danger small mt-1" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
          Name Error
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save Category</button>
      <a th:href="@{/admin/categories}" class="btn btn-secondary">Cancel</a>
    </form>
</main>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
</body>
</html>